@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

body {
    background-color: darkgray;
    width: 95%;
    align-content: center;
}

* {
    font-family: 'Roboto Slab', sans-serif;
    color: white;
}


header.main {
    //width: 95%;
    align-content: center;
    //border: 1px dashed red;
    display: inline-block;
    position: relative;
    z-index: 10;
}



header.main > nav > ul {
    //border: 1px dotted blue;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

header.main > nav > ul > li {
    list-style: none;
    text-align: center;
}

ul.projects {
    display: flex;
    justify-content: center;
    padding: 0;
}

header.main, .top, .topNav {
    width: 100%; 
}

header.main > nav > ul > li {
    //border: 1px solid pink;
    padding: 10px 0px;
    width: 25%;
}
header.main > nav > ul > li:hover {
    background-color: gray;
}

div {
    //border: 1px solid red;
    width: inherit;
    padding: 10px 20px;
    display: inline-block;
    align-items: center;
    position: relative;
}

ul li.item {
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
    align-content: center;
}

ul li.item:hover  {
    //background-color: gray;
    color: white;
    box-shadow: 3px 3px 5px black;
}

h1, h6, ul {
    text-align: center;
    align-content: center;
    
}

a {
    color: white;
    padding: 0px;
    max-width: inherit;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    //border: 1px solid yellow;
}

