@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

body {
    background-color: darkgray;
}

* {
    font-family: 'Roboto Slab', serif;
}

ul {
    //border: 1px dotted blue;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

ul li {
    list-style: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    max-width: 200px;
    text-align: center;
    margin: 10px;
}

ul li:hover  {
    background-color: gray;
    color: white;
    box-shadow: 3px 3px 5px black;
}

h1, h6, ul {
    text-align: center;
    align-content: center;
    
}

a {
    color: white;
    padding: inherit;
    max-width: inherit;
    margin: 10px;
}

div {
    //border: 1px solid red;
    width: 95%;
    padding: 10px 20px;
    display: inline-block;
    align-items: center;
}
